## Data Science Work Flow

Python -> R -> D3

In [14]:
# import the d3_module
import d3_example

# typical imports
# import requirments 
from IPython.display import Image
from IPython.display import display
from datetime import *
import json
from copy import *
from pprint import *
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json
import rpy2
%load_ext rpy2.ipython
%R require("ggplot2")
%matplotlib inline
from ggplot import *
randn = np.random.randn

The rpy2.ipython extension is already loaded. To reload it, use:
  %reload_ext rpy2.ipython

### Pandas

Quick use cases with Pandas:

- Cleaning data
- View vs Copy 
- Datetime conversion
- Datetime Binning

#### Cleaning data
Common tools that I use:
- Try using [DataFrame.dropna()](http://stackoverflow.com/questions/13413590/how-to-drop-rows-of-pandas-dataframe-whose-value-of-certain-column-is-nan#answer-13434501) to remove null values.
- The [pd.io.parsers.read_csv()](http://pandas.pydata.org/pandas-docs/dev/generated/pandas.io.parsers.read_csv.html) module has a `names` argument that allows you to pass a specific column header, `skiprows` argument that can take an index or number of rows, and a `parse_dates` attribute that can make string to date conversions simple.

In [15]:
sampleData = pd.io.parsers.read_csv(
    "../data/sampleData.csv",
    header=0
    #names=['timeStamp1','ts','counts']
    #,parse_dates=[0]
    )
sampleData = sampleData.dropna(subset=['timeStamp'])
sampleData.head()

,timeStamp,paleo_users,dtmonth,healthy_index,snack_food_index,paleo,gluten,donut,aquafina,soda,...,sobe,cheetos,pretzel,quinoa,kale,dairy,vegetables,gatorade,doritos,lipton
0,1/1/12 0:00,NaN,1/1/12,7771,13050,957,2188,3733,398,NaN,...,650,2393,2484,241,1116,2994,3269,6526,4440,249
1,1/2/12 0:00,NaN,1/1/12,10665,16472,1392,2560,5345,497,NaN,...,761,3710,3145,552,1484,4645,4677,5627,4272,456
2,1/3/12 0:00,NaN,1/1/12,14024,19617,1677,3629,5277,674,NaN,...,857,5095,2948,846,1782,5445,6090,5632,6297,983
3,1/4/12 0:00,NaN,1/1/12,12879,19294,1736,3600,5785,869,NaN,...,1248,4451,2930,906,1991,5541,4646,4799,6128,1112
4,1/5/12 0:00,NaN,1/1/12,13483,20582,1504,3578,5466,644,NaN,...,1246,4478,2996,1031,1994,6160,5376,5543,7642,744

####View vs Copy
An easy frustration with a [simple solution](http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy).

The first example returns a __copy__ of `sampleData`. The original value remains unchanged.

In [16]:
cp_data = sampleData
cp_data.iloc[0]['healthy_index'] = 5555
cp_data.iloc[0]['timeStamp'] = "1/1/12 5:55"
cp_data.head()

/Users/blehman/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from IPython.kernel.zmq import kernelapp as app
/Users/blehman/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

,timeStamp,paleo_users,dtmonth,healthy_index,snack_food_index,paleo,gluten,donut,aquafina,soda,...,sobe,cheetos,pretzel,quinoa,kale,dairy,vegetables,gatorade,doritos,lipton
0,1/1/12 0:00,NaN,1/1/12,7771,13050,957,2188,3733,398,NaN,...,650,2393,2484,241,1116,2994,3269,6526,4440,249
1,1/2/12 0:00,NaN,1/1/12,10665,16472,1392,2560,5345,497,NaN,...,761,3710,3145,552,1484,4645,4677,5627,4272,456
2,1/3/12 0:00,NaN,1/1/12,14024,19617,1677,3629,5277,674,NaN,...,857,5095,2948,846,1782,5445,6090,5632,6297,983
3,1/4/12 0:00,NaN,1/1/12,12879,19294,1736,3600,5785,869,NaN,...,1248,4451,2930,906,1991,5541,4646,4799,6128,1112
4,1/5/12 0:00,NaN,1/1/12,13483,20582,1504,3578,5466,644,NaN,...,1246,4478,2996,1031,1994,6160,5376,5543,7642,744

The next example returns a __view__ of `sampleData`. The original value is changed.

In [17]:
cp_data.ix[0,'healthy_index'] =5555
cp_data.ix[0,'timeStamp'] = "1/1/12 5:55"
cp_data.head()

,timeStamp,paleo_users,dtmonth,healthy_index,snack_food_index,paleo,gluten,donut,aquafina,soda,...,sobe,cheetos,pretzel,quinoa,kale,dairy,vegetables,gatorade,doritos,lipton
0,1/1/12 5:55,NaN,1/1/12,5555,13050,957,2188,3733,398,NaN,...,650,2393,2484,241,1116,2994,3269,6526,4440,249
1,1/2/12 0:00,NaN,1/1/12,10665,16472,1392,2560,5345,497,NaN,...,761,3710,3145,552,1484,4645,4677,5627,4272,456
2,1/3/12 0:00,NaN,1/1/12,14024,19617,1677,3629,5277,674,NaN,...,857,5095,2948,846,1782,5445,6090,5632,6297,983
3,1/4/12 0:00,NaN,1/1/12,12879,19294,1736,3600,5785,869,NaN,...,1248,4451,2930,906,1991,5541,4646,4799,6128,1112
4,1/5/12 0:00,NaN,1/1/12,13483,20582,1504,3578,5466,644,NaN,...,1246,4478,2996,1031,1994,6160,5376,5543,7642,744

####Datetime Conversion
When `parse_dates` is not an option, we can apply a transformation using `strptime`, which can handle non-zero padded values.

In [18]:
sampleData.timeStamp = pd.to_datetime(
    sampleData['timeStamp'].apply(lambda x: 
        datetime.strptime(x,"%m/%d/%y %H:%M")),format = "%m/%d/%y %H:%M")

sampleData.head()

,timeStamp,paleo_users,dtmonth,healthy_index,snack_food_index,paleo,gluten,donut,aquafina,soda,...,sobe,cheetos,pretzel,quinoa,kale,dairy,vegetables,gatorade,doritos,lipton
0,2012-01-01 05:55:00,NaN,1/1/12,5555,13050,957,2188,3733,398,NaN,...,650,2393,2484,241,1116,2994,3269,6526,4440,249
1,2012-01-02 00:00:00,NaN,1/1/12,10665,16472,1392,2560,5345,497,NaN,...,761,3710,3145,552,1484,4645,4677,5627,4272,456
2,2012-01-03 00:00:00,NaN,1/1/12,14024,19617,1677,3629,5277,674,NaN,...,857,5095,2948,846,1782,5445,6090,5632,6297,983
3,2012-01-04 00:00:00,NaN,1/1/12,12879,19294,1736,3600,5785,869,NaN,...,1248,4451,2930,906,1991,5541,4646,4799,6128,1112
4,2012-01-05 00:00:00,NaN,1/1/12,13483,20582,1504,3578,5466,644,NaN,...,1246,4478,2996,1031,1994,6160,5376,5543,7642,744

####Datetime Binning
The datetime object has properties that make binning rather simple.

In [19]:
donut = cp_data.ix[:,("timeStamp","donut")]
donut.head()

            timeStamp  donut
0 2012-01-01 05:55:00   3733
1 2012-01-02 00:00:00   5345
2 2012-01-03 00:00:00   5277
3 2012-01-04 00:00:00   5785
4 2012-01-05 00:00:00   5466

Find selections from the datetime object to create new columns.

In [20]:
donut['Year'] = donut.timeStamp.dt.year
donut['Month'] = donut.timeStamp.dt.month
donut.head()

            timeStamp  donut  Year  Month
0 2012-01-01 05:55:00   3733  2012      1
1 2012-01-02 00:00:00   5345  2012      1
2 2012-01-03 00:00:00   5277  2012      1
3 2012-01-04 00:00:00   5785  2012      1
4 2012-01-05 00:00:00   5466  2012      1

The `groupby` method defaults to using groups as an index.

In [61]:
donut_groupby_yearmonth = donut.groupby(['Year','Month'],as_index = False)
donut_groupby_yearmonth1 = donut.groupby(['Year','Month'])

print display(donut_groupby_yearmonth.head())
print
print 
print display(donut_groupby_yearmonth1.head())

               timeStamp   donut  Year  Month
0    2012-01-01 05:55:00    3733  2012      1
1    2012-01-02 00:00:00    5345  2012      1
2    2012-01-03 00:00:00    5277  2012      1
3    2012-01-04 00:00:00    5785  2012      1
4    2012-01-05 00:00:00    5466  2012      1
31   2012-02-01 00:00:00    6042  2012      2
32   2012-02-02 00:00:00    6591  2012      2
33   2012-02-03 00:00:00    6231  2012      2
34   2012-02-04 00:00:00    6017  2012      2
35   2012-02-05 00:00:00    6350  2012      2
60   2012-03-01 00:00:00    6736  2012      3
61   2012-03-02 00:00:00    6452  2012      3
62   2012-03-03 00:00:00    6336  2012      3
63   2012-03-04 00:00:00    6676  2012      3
64   2012-03-05 00:00:00    6952  2012      3
91   2012-04-01 00:00:00    5899  2012      4
92   2012-04-02 00:00:00    6170  2012      4
93   2012-04-03 00:00:00    6696  2012      4
94   2012-04-04 00:00:00    6584  2012      4
95   2012-04-05 00:00:00    7203  2012      4
121  2012-05-01 00:00:00    7116  2012      5
122  2012-05-02 00:00:00    6861  2012      5
123  2012-05-03 00:00:00    7183  2012      5
124  2012-05-04 00:00:00    7414  2012      5
125  2012-05-05 00:00:00    6381  2012      5
152  2012-06-01 00:00:00  106207  2012      6
153  2012-06-02 00:00:00   18585  2012      6
154  2012-06-03 00:00:00    8384  2012      6
155  2012-06-04 00:00:00    7514  2012      6
156  2012-06-05 00:00:00    8126  2012      6
...                  ...     ...   ...    ...
1035 2014-11-01 00:00:00   13256  2014     11
1036 2014-11-02 00:00:00   18160  2014     11
1037 2014-11-03 00:00:00   18681  2014     11
1038 2014-11-04 00:00:00   17233  2014     11
1039 2014-11-05 00:00:00   20650  2014     11
1065 2014-12-01 00:00:00   12212  2014     12
1066 2014-12-02 00:00:00   11254  2014     12
1067 2014-12-03 00:00:00   14700  2014     12
1068 2014-12-04 00:00:00   17751  2014     12
1069 2014-12-05 00:00:00   12516  2014     12
1096 2015-01-01 00:00:00    7776  2015      1
1097 2015-01-02 00:00:00    7850  2015      1
1098 2015-01-03 00:00:00    9027  2015      1
1099 2015-01-04 00:00:00    9447  2015      1
1100 2015-01-05 00:00:00   10298  2015      1
1127 2015-02-01 00:00:00   11874  2015      2
1128 2015-02-02 00:00:00   11813  2015      2
1129 2015-02-03 00:00:00   11975  2015      2
1130 2015-02-04 00:00:00   12352  2015      2
1131 2015-02-05 00:00:00   11299  2015      2
1155 2015-03-01 00:00:00   11236  2015      3
1156 2015-03-02 00:00:00   12540  2015      3
1157 2015-03-03 00:00:00   11804  2015      3
1158 2015-03-04 00:00:00   18905  2015      3
1159 2015-03-05 00:00:00   11840  2015      3
1186 2015-04-01 00:00:00   13085  2015      4
1187 2015-04-02 00:00:00   15415  2015      4
1188 2015-04-03 00:00:00   12207  2015      4
1189 2015-04-04 00:00:00   11741  2015      4
1190 2015-04-05 00:00:00   12862  2015      4

[200 rows x 4 columns]

None

               timeStamp   donut  Year  Month
0    2012-01-01 05:55:00    3733  2012      1
1    2012-01-02 00:00:00    5345  2012      1
2    2012-01-03 00:00:00    5277  2012      1
3    2012-01-04 00:00:00    5785  2012      1
4    2012-01-05 00:00:00    5466  2012      1
31   2012-02-01 00:00:00    6042  2012      2
32   2012-02-02 00:00:00    6591  2012      2
33   2012-02-03 00:00:00    6231  2012      2
34   2012-02-04 00:00:00    6017  2012      2
35   2012-02-05 00:00:00    6350  2012      2
60   2012-03-01 00:00:00    6736  2012      3
61   2012-03-02 00:00:00    6452  2012      3
62   2012-03-03 00:00:00    6336  2012      3
63   2012-03-04 00:00:00    6676  2012      3
64   2012-03-05 00:00:00    6952  2012      3
91   2012-04-01 00:00:00    5899  2012      4
92   2012-04-02 00:00:00    6170  2012      4
93   2012-04-03 00:00:00    6696  2012      4
94   2012-04-04 00:00:00    6584  2012      4
95   2012-04-05 00:00:00    7203  2012      4
121  2012-05-01 00:00:00    7116  2012      5
122  2012-05-02 00:00:00    6861  2012      5
123  2012-05-03 00:00:00    7183  2012      5
124  2012-05-04 00:00:00    7414  2012      5
125  2012-05-05 00:00:00    6381  2012      5
152  2012-06-01 00:00:00  106207  2012      6
153  2012-06-02 00:00:00   18585  2012      6
154  2012-06-03 00:00:00    8384  2012      6
155  2012-06-04 00:00:00    7514  2012      6
156  2012-06-05 00:00:00    8126  2012      6
...                  ...     ...   ...    ...
1035 2014-11-01 00:00:00   13256  2014     11
1036 2014-11-02 00:00:00   18160  2014     11
1037 2014-11-03 00:00:00   18681  2014     11
1038 2014-11-04 00:00:00   17233  2014     11
1039 2014-11-05 00:00:00   20650  2014     11
1065 2014-12-01 00:00:00   12212  2014     12
1066 2014-12-02 00:00:00   11254  2014     12
1067 2014-12-03 00:00:00   14700  2014     12
1068 2014-12-04 00:00:00   17751  2014     12
1069 2014-12-05 00:00:00   12516  2014     12
1096 2015-01-01 00:00:00    7776  2015      1
1097 2015-01-02 00:00:00    7850  2015      1
1098 2015-01-03 00:00:00    9027  2015      1
1099 2015-01-04 00:00:00    9447  2015      1
1100 2015-01-05 00:00:00   10298  2015      1
1127 2015-02-01 00:00:00   11874  2015      2
1128 2015-02-02 00:00:00   11813  2015      2
1129 2015-02-03 00:00:00   11975  2015      2
1130 2015-02-04 00:00:00   12352  2015      2
1131 2015-02-05 00:00:00   11299  2015      2
1155 2015-03-01 00:00:00   11236  2015      3
1156 2015-03-02 00:00:00   12540  2015      3
1157 2015-03-03 00:00:00   11804  2015      3
1158 2015-03-04 00:00:00   18905  2015      3
1159 2015-03-05 00:00:00   11840  2015      3
1186 2015-04-01 00:00:00   13085  2015      4
1187 2015-04-02 00:00:00   15415  2015      4
1188 2015-04-03 00:00:00   12207  2015      4
1189 2015-04-04 00:00:00   11741  2015      4
1190 2015-04-05 00:00:00   12862  2015      4

[200 rows x 4 columns]

None

In [85]:
print type(donut_groupby_yearmonth.indices)
print
print 
print donut_groupby_yearmonth.indices.keys()
print
print
print display(donut_groupby_yearmonth.get_group((2014, 1)))
print
print 
print display(donut_groupby_yearmonth.get_group((2014, 1)).groupby(['Year','Month']).sum())

<type 'dict'>


[(2014, 1), (2013, 7), (2015, 4), (2012, 10), (2012, 3), (2013, 11), (2014, 10), (2013, 2), (2015, 3), (2012, 7), (2014, 6), (2013, 6), (2012, 11), (2014, 2), (2013, 10), (2014, 11), (2013, 1), (2015, 2), (2014, 7), (2013, 5), (2014, 12), (2012, 4), (2014, 3), (2013, 9), (2014, 8), (2012, 8), (2012, 1), (2014, 4), (2013, 4), (2012, 12), (2015, 1), (2012, 5), (2013, 8), (2014, 9), (2012, 9), (2012, 2), (2013, 12), (2014, 5), (2013, 3), (2012, 6)]

     timeStamp  donut  Year  Month
731 2014-01-01  25150  2014      1
732 2014-01-02  16330  2014      1
733 2014-01-03  14487  2014      1
734 2014-01-04  17205  2014      1
735 2014-01-05  17550  2014      1
736 2014-01-06  21070  2014      1
737 2014-01-07  16698  2014      1
738 2014-01-08  14176  2014      1
739 2014-01-09  11921  2014      1
740 2014-01-10  17016  2014      1
741 2014-01-11  12670  2014      1
742 2014-01-12  17540  2014      1
743 2014-01-13  16988  2014      1
744 2014-01-14  12994  2014      1
745 2014-01-15  12898  2014      1
746 2014-01-16  14536  2014      1
747 2014-01-17  12303  2014      1
748 2014-01-18  14584  2014      1
749 2014-01-19  13645  2014      1
750 2014-01-20  13135  2014      1
751 2014-01-21  12950  2014      1
752 2014-01-22  15237  2014      1
753 2014-01-23  12258  2014      1
754 2014-01-24  13413  2014      1
755 2014-01-25  13157  2014      1
756 2014-01-26  14538  2014      1
757 2014-01-27  13864  2014      1
758 2014-01-28  14651  2014      1
759 2014-01-29  14451  2014      1
760 2014-01-30  14217  2014      1
761 2014-01-31  19785  2014      1

None

             donut
Year Month
2014 1      471417

None

In [37]:
print donut_groupby_yearmonth.donut.head()
print
print
print donut_groupby_yearmonth1.donut.head()

0    174574
1    194164
2    206323
3    205019
4    248352
Name: donut, dtype: float64


Year  Month
2012  1        174574
      2        194164
      3        206323
      4        205019
      5        248352
Name: donut, dtype: float64

In [53]:
print donut_groupby_yearmonth.ix[0:2,:]
print
print
print donut_groupby_yearmonth1.index.names
print
print donut_groupby_yearmonth1.get_group()

   Year  Month   donut
0  2012      1  174574
1  2012      2  194164
2  2012      3  206323


[u'Year', u'Month']

AttributeError: 'DataFrame' object has no attribute 'get_group'

In [ ]:
cp_data.ix['Year'] = cp_data.timeStamp.dt.year
cp_data.ix['Month'] = cp_data.timeStamp.dt.month
##Noice no 'Year' nor 'Month' in the dataset
cp_data.head()

In [ ]:
cp_data['Year'] = cp_data.timeStamp.dt.year
cp_data['Month'] = cp_data.timeStamp.dt.month
##Noice that we now have 'Year' nor 'Month' in the dataset
cp_data.head()

--------->**Learn how to access the pretty print display**

In [ ]:
from IPython.display import display
x_sum = sampleData.groupby(['Year','Month']).sum()
#print x_sum.head()
#x_sum.index
print 
print display(x_sum.head())
print sampleData.columns

--------->**Learn how to print multiple plots w/ pandas**

In [ ]:

paleo = sampleData.plot(
    x='timeStamp'
    ,y='paleo'
    ,kind='line'
    ,xlim=['2011-11-15 00:00:00','2015-06-01 00:00:00']
    cp_data)
paleo.legend(['paleo'], loc='best')
kale = sampleData.plot(
    x='timeStamp'
    ,y='kale'
    ,kind='line'
    ,xlim=['2011-11-15 00:00:00','2015-06-01 00:00:00']
    ,color='g')
kale.legend(['kale'], loc='best')
dairy = sampleData.plot(
    x='timeStamp'
    ,y='dairy'
    ,kind='line'
    ,xlim=['2011-11-15 00:00:00','2015-06-01 00:00:00']
    ,color='r')
dairy.legend(['dairy'], loc='best')
plt.show()

In [ ]:
paleo = sampleData.plot(
    x='timeStamp'
    ,y='paleo'
    ,kind='line'
    ,xlim=['2011-11-15 00:00:00','2015-06-01 00:00:00'])
paleo.legend(['paleo'], loc='best')
kale = sampleData.plot(
    x='timeStamp'
    ,y='kale'
    ,kind='line'
    ,xlim=['2011-11-15 00:00:00','2015-06-01 00:00:00']
    ,ax = paleo)
kale.legend(['paleo','kale'], loc='best')
dairy = sampleData.plot(
    x='timeStamp'
    ,y='dairy'
    ,kind='line'
    ,xlim = ['2014-11-15 00:00:00','2015-06-01 00:00:00']
    ,ylim = [0,20000]
    ,ax=kale
    ,figsize =(15,8))
dairy.legend(['paleo','kale','dairy'], loc='best')
dairy.set_xlabel("Time")
dairy.set_ylabel("Mention Count")
plt.show()

In [ ]:
# find min
minDate = sampleData['timeStamp'].min()
minDate = minDate.strftime('%Y-%m-%d %H:%M')

# find max
maxDate = sampleData['timeStamp'].max()
maxDate = maxDate.strftime('%Y-%m-%d %H:%M')

print minDate, maxDate
# send dataframe and strings to R
%Rpush sampleData minDate maxDate

sampleData['timeStamp']

In [ ]:
%%R
# convert to date object
minDate = as.POSIXct(strptime(minDate, '%Y-%m-%d %H:%M',tz='UTC'))
maxDate = as.POSIXct(strptime(maxDate, '%Y-%m-%d %H:%M',tz='UTC'))
class(maxDate)

In [ ]:
%%R

ggplot(data=sampleData)+geom_line(aes(x=timeStamp,y=paleo))+scale_x_datetime(limits=c(minDate,maxDate))

In [ ]:
%%R
#sampleData['timeStamp_epoch'] <- as.integer(sampleData['timeStamp_epoch'])

In [ ]:
%%R -w 900 -h 480 -u px
#line graph in R

summary(sampleData)
p1 <- ggplot(data=sampleData) + geom_line(stat="identity",aes(x=timeStamp,y=paleo)) + ggtitle("Line Graph Test") + xlab("Time") + ylab("Mention Counts") + theme(legend.position="none", text = element_text(size=20))  

lower <- with(Day_subset,as.POSIXct(strftime(min(time),"%Y-%m-%d")))
upper <- with(Day_subset,as.POSIXct(strftime(as.Date(max(time))+1,"%Y-%m-%d"))-1)
limits = c(lower,upper)

print(ggplot( data=Day_subset, aes( x=time, y=observation) ) + 
        geom_point() +
        scale_x_datetime( breaks=("2 hour"), 
                          minor_breaks=("1 hour"), 
                          labels=date_format("%H:%M"),
                          limits=limits)
print(p1)

In [ ]:
x_sum.plot(x='year', y='col_name_2', style='o')

In [ ]:

sampleData['donut_sum'] = sampleData.grouby(['Year','Month'])['donut'].transform(np.sum)

In [ ]:
sampleData.to_csv("../data/test.csv",index=False)

In [ ]:
data = [{'x': 10, 'y': 20, 'r': 15, 'name': 'circle one'}, 
        {'x': 40, 'y': 40, 'r': 5, 'name': 'circle two'},
        {'x': 20, 'y': 30, 'r': 8, 'name': 'circle three'},
        {'x': 25, 'y': 10, 'r': 10, 'name': 'circle four'}]


d3_example.plot_circle(data)

In [ ]:
d3_example.plot_circle(data, id=2)